name: generate-list

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: curl list
        run: |
          curl -s https://api.github.com/meta \
            | grep -Eo '([0-9]{1,3}\.){3}[0-9]{1,3}/[0-9]+|([0-9a-fA-F:]+)/[0-9]+' \
            | sort -u \
            > github-ip-list.txt

      - name: Configure git
        run: |
          git config user.name "DXC-0"
          git config user.email "dxc-0-bot@proton.me"

      - name: Commit and Push Changes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git add github-ip-list.txt
          git commit -m "Update IP list" || echo "No changes to commit"
          git push origin main
